<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   FuPin.plist
   AreaPlistFile

   Created by ZMMacBook on 2018/11/28.
   Copyright (c) 2018年 ZMMacBook. All rights reserved.
 
   移动办公系统
-->
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://oa.zhengmeng.net/mo/client/7/down</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.gzzm.oat</string>
                    <key>bundle-version</key>
                    <string>3.0.192_beta</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>移动办公系统</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
